<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Проект - {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'>
    <link rel="stylesheet" href="{% static 'file/project/css/base/style.css' %}">

</head>
<body>
{% block content %}{% endblock content %}
 <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="{% static 'file/project/js/base/materialize.min.js' %}"></script>
//TODO: Скачать файлы скрипта и положить в локальную папку
<script src='//unpkg.com/react/umd/react.development.js'></script>
<script src='//unpkg.com/react-dom/umd/react-dom.development.js'></script>
<script  src="{% static 'file/project/js/base/script.js' %}"></script>
</body>
</html>