BASE="$(echo $PWD | cut -d'/' -f1,2,3,4)"

for i in $(ls -1 $BASE/etc/environment || :); do
    export "$i"="$(cat $BASE/etc/environment/$i)"
done 2>/dev/null

[[ -f "$BASE/.env/bin/activate" ]] && {
    source "$BASE/.env/bin/activate"
}
